/* Reset dei margini, padding e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Impostazioni generiche per il corpo del documento */
body {
    font-family: 'Open Sans', sans-serif;
}


/* Utility per l'allineamento degli elementi */
.alignment {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Colori di sfondo */
.bgc {
    background-color: white;
}

.bgc-second {
    background-color: #B4D0E7;
}

/* Allineamento degli span */
.span-align {
    margin-left: 20px;
    height: 100%;
    align-content: center;
    cursor: pointer;
}

/* Margine a destra */
.margin-right {
    margin-right: 20px;
    height: 100%;
}

/* Stili per i pulsanti */
.blue-button,
.header-button {
    border: none;
    cursor: pointer;
}

/* Pulsante blu */
.blue-button {
    background-color: #0061FF;
    color: white;
    padding: 5px 10px;
}

/* Pulsante nell'header */
.header-button {
    background-color: white;
}

/* Layout delle sezioni */
.section-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px 0 0;
}

/* Stili per l'header */
header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 1;
}

/* Immagini nell'header */
header img {
    height: 20px;
}

/* Div sinistro e destro nell'header */
.left-div,
.right-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hover e active sul link dell'header */
.header-hover:hover {
    height: 100%;
    border-bottom: solid black;
}

/* Effetto di trasformazione al click */
.header-hover:active,
.button-active:active {
    transform: scale(1.1);
}

/* Stili principali per i titoli */
h1 {
    font-size: 65px;
    text-align: left;
}

/* Sezione del titolo h1 */
#h1-section {
    position: relative;
    top: 40px;
    width: 76%;
}

/* Div di benvenuto */
.welcome-div {
    padding-top: 100px;
}

/* Sezione di benvenuto */
.welcome-section {
    position: relative;
    top: 56px;
    display: flex;
    flex-direction: column;
    width: 20%;
}

/* Contenitore di benvenuto */
.welcome-container {
    display: flex;
    justify-content: center;
}

/* Paragrafi nella sezione di benvenuto */
.welcome-section p {
    padding: 30px 0;
}

/* Span nella sezione di benvenuto */
.welcome-section span {
    margin-bottom: 85px;
}

/* Sezione jumbo */
.jumbo {
    position: relative;
    top: 88px;
    width: 55%;
}

/* Pulsante di prova */
.trial-button {
    width: 65%;
    margin-bottom: 30px;
}

/* Icona freccia verso il basso */
.fa-arrow-down {
    font-size: 35px;
}

/* Sezione dei prezzi */
.price {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 150px 0;
}

/* Colonna dei prezzi */
.price-column {
    width: 60%;
}

/* Titolo della colonna dei prezzi */
.price-column h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

/* Lista dei prezzi */
.checklist {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

/* Icone selezionate e non selezionate */
.checked,
.unchecked {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    display: inline-block;
    margin: 0 10px;
}

/* Icona selezionata */
.checked {
    border: 5px solid #0061FF;
    color: #0061FF;
}

/* Icona non selezionata */
.unchecked {
    border: 1px solid lightgray;
    color: white;
    margin-left: 10px;
}

/* Div con colonne */
.column-div {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* Singola colonna */
.column {
    flex: 1;
    width: calc((100% / 3) - (60px / 2));
    border: 1px solid lightgray;
}

/* Ultima colonna con layout specifico */
.last-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 250px;
    border: 1px solid lightgray;
    margin-top: 30px;
}

/* Contenuto dell'ultima colonna */
.last-column .column-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 25px;
}

/* Pulsante nell'ultima colonna */
.last-column .button {
    align-self: flex-end;
    margin-bottom: 10px;
}

/* Testo nell'ultima colonna */
.last-column .text {
    text-align: left;
    position: relative;
    top: -76px;
}

/* Span nel testo */
.text span {
    padding-bottom: 55px;
}

/* Header della colonna */
.column-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-bottom: 1px solid lightgray;
    gap: 5px;
    padding: 10px 0;
}

/* Contenuto della colonna */
.column-content {
    font-size: 13px;
    padding: 25px 15px;
}

/* Icona di check */
.fa-check {
    color: #0061FF;
}

/* Lista non ordinata */
.fa-ul {
    margin-top: 40px;
    margin-left: 23px;
}

/* Padding per i pulsanti */
.button-padding {
    padding: 10px 25px;
    margin: 20px 0 30px 10px;
}

/* Bordo inferiore */
.border-bottom {
    display: inline-block;
    padding-bottom: 40px;
    border-bottom: 1px solid lightgray;
}

/* Lista nel contenuto della colonna */
.column-content li {
    padding-bottom: 20px;
}

/* Titoli */
h4 {
    margin: 40px 0 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Prezzi in euro e per mese */
.euro-price,
.month {
    display: block;
    font-size: 13px;
    margin-bottom: -10px;
}

/* Prezzo in euro */
.euro-price {
    font-weight: bold;
}

/* Allargatore */
.allargatore {
    height: 27px;
}

/* Sezione dei partner */
.partner {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
    right: 35px;
}

/* Immagini dei partner */
.partner img {
    height: 400px;
}

/* Div dei partner */
.partner-div {
    position: relative;
    top: 45px;
}

/* Titoli dei partner */
.partner-div h2 {
    font-size: 19px;
}

/* Paragrafi dei partner */
.partner-div p {
    font-size: 12px;
    margin: 25px 0;
}

/* Pulsanti dei partner */
.partner-div button {
    background-color: white;
    border: 1px solid;
    padding: 7px 10px;
}

/* Contenitore delle sezioni business */
.business-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0;
}

/* Titolo della sezione business */
.business-container h2 {
    position: relative;
    right: 80px;
    padding-bottom: 40px;
    font-size: 30px;
}

/* H2 fine sezione business */
#business-h2 {
    position: relative;
    right: 187px;
}

/* Link nella sezione business */
.business-container a {
    position: relative;
    right: 320px;
    font-size: 13px;
}

/* Div delle card business */
.business-div {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 30px;
    margin-bottom: 125px;
}

/* Card business */
.business-card {
    width: calc((100% / 3) - (90px / 2));
}

/* Immagini nelle card business */
.business-card img {
    height: 177px;
}

/* Titoli nelle card business */
.business-card h3 {
    font-size: 16px;
}

/* Paragrafi nelle card business */
.business-card p {
    font-size: 11px;
}

/* Contenitore principale per le aziende partner, impostato come flex per la disposizione orizzontale. */
.partner-companies-container {
    display: flex;
    width: 100%;
}

/* Contenitore per le colonne delle partner, con wrapping e dimensioni fisse. */
.partner-companies-div {
    display: flex;
    flex-wrap: wrap;
    height: 447px;
    width: 33.33%;
}

/* Stile per ciascuna card delle partner, con allineamento e dimensioni specifiche. */
.partner-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    position: relative;
    background-color: transparent;
}

.partner-card:hover {
    border: 15px solid rgba(255, 255, 255, 0.5);
}

/* Stile per le immagini delle card, per applicare il filtro di inversione. */
.partner-card img {
    filter: invert(100%);
}

/* Altezza specifica per ogni immagine delle aziende partner. */
#designit {
    height: 32px;
}

#arizona {
    height: 95px;
}

#florida {
    height: 20px;
}

#topps {
    height: 65px;
}

#world {
    height: 32px;
}

#hearst {
    height: 12px;
}

#lonely {
    height: 45px;
}

#clear {
    height: 60px;
}

/* Colori di sfondo per ciascuna card delle partner. */
.first-card {
    background-color: #A2D39B;
}

.second-card {
    background-color: #61082B;
}

.third-card {
    background-color: #0093CE;
}

.fourth-card {
    background-color: #FF1C1C;
}

.fifth-card {
    background-color: #D5001F;
}

.sixth-card {
    background-color: #B4D0E7;
}

.seventh-card {
    background-color: #0D2481;
}

.eighth-card {
    background-color: #FFD830;
}

/* Sezione centrale per informazioni, con padding e colore di sfondo. */
.partner-companies-center {
    padding: 30px;
    height: 447px;
    width: 33.33%;
    background-color: #F5F5F5;
}

/* Altezza fissa per le immagini nella sezione centrale. */
.partner-companies-center img {
    height: 70px;
}

/* Stili per il paragrafo e il nome dell'autore nella sezione centrale. */
.partner-companies-center p {
    font-size: 12px;
    margin-top: 65px;
    margin-bottom: 35px;
}

.partner-companies-center span {
    font-size: 12px;
}

.free-trial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 230px;
    background-color: #B4D0E7;
}

.free-trial button {
    background-color: white;
    color: black;
    position: relative;
    top: 10px;
    font-size: 12px;
    padding: 8px 33px;
}

.free-trial h2 {
    font-size: 25px;
    text-align: left;
    color: #61082B;
}

.free-trial div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
}


.faq-container {
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -31px;
}

.faq-div {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.faq-div h2 {
    font-size: 30px;
    margin-bottom: 70px;
}

.faq-row {
    display: flex;
    justify-content: space-between;
    border-bottom: solid #ADADAD 1px;
    border-top: solid #ADADAD 1px;
    padding: 30px 0;
    font-size: 14px;
    font-weight: bold;
    flex-wrap: wrap;
    position: relative;
}

.faq-row-ext {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.faq-row:hover .faq-row-ext {
    display: block;
    position: relative;
    margin: 20px 0px;
}