/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Open sans;
}

/* Utils */
.alignment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgc {
    background-color: white;
}

.bgc-second {
    background-color: #B4D0E7;
}

.span-align {
    margin-left: 20px;
    height: 100%;
    align-content: center;
    cursor: pointer;
}

.margin-right {
    margin-right: 20px;
    height: 100%;
}

.blue-button {
    background-color: #0061FF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.header-button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.section-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    padding-top: 200px;
}

/* HEADER */
header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

header img {
    height: 20px;
}

.left-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-hover:hover {
    height: 100%;
    border-bottom: solid;
    border-color: black;
}

#header-hover:active {
    transform: scale(1.1);
}

/* MAIN */

h1 {
    font-size: 65px;
    text-align: left;
}

#h1-section {
    width: 70%;
}

.welcome-div {
    padding-top: 100px;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.welcome-container {
    display: flex;
    justify-content: center;

}

.welcome-section p {
    padding-top: 30px;
    padding-bottom: 30px;
}

.welcome-section span {
    margin-bottom: 85px;
}

.trial-button {
    width: 65%;
    margin-bottom: 30px;
}

#button-active:active {
    transform: scale(1.1);
}

.fa-arrow-down {
    font-size: 35px;
}