/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Open sans;
}

/* Utils */
.alignment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgc {
    background-color: white;
}

.bgc-second {
    background-color: #B4D0E7;
}

.span-align {
    margin-left: 20px;
    height: 100%;
    align-content: center;
    cursor: pointer;
}

.margin-right {
    margin-right: 20px;
    height: 100%;
}

.blue-button {
    background-color: #0061FF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.header-button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.section-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    padding-top: 200px;
}

/* .border-bottom {
    border: solid;
    padding-bottom: 10px;
} */

/* HEADER */
header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 1;
}

header img {
    height: 20px;
}

.left-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-hover:hover {
    height: 100%;
    border-bottom: solid;
    border-color: black;
}

#header-hover:active {
    transform: scale(1.1);
}

/* MAIN */

h1 {
    font-size: 65px;
    text-align: left;
}

#h1-section {
    width: 70%;
}

.welcome-div {
    padding-top: 100px;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.welcome-container {
    display: flex;
    justify-content: center;

}

.welcome-section p {
    padding-top: 30px;
    padding-bottom: 30px;
}

.welcome-section span {
    margin-bottom: 85px;
}

.trial-button {
    width: 65%;
    margin-bottom: 30px;
}

#button-active:active {
    transform: scale(1.1);
}

.fa-arrow-down {
    font-size: 35px;
}

.price {
    display: flex;
    justify-content: center;
    height: 1000px;
    width: 100%;
}

.price-column {
    height: 700px;
    width: 60%;
    margin-top: 150px;
}

.price-column h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

.checklist {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.checked {
    height: 20px;
    width: 20px;
    border: 5px solid;
    border-radius: 20px;
    color: #0061FF;
    display: inline-block;
    margin-right: 10px;
}

.unchecked {
    height: 20px;
    width: 20px;
    border: 5px solid;
    border-radius: 20px;
    color: white;
    border: 1px solid lightgray;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.column-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    width: calc(100% / 3);
    border: 1px solid lightgray;
}

.last-column {
    width: 100%;
    border: 1px solid lightgray;
}

.column-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    gap: 5px;
    padding: 10px 0px;
}

.column-content {
    font-size: 15px;
    padding: 25px 15px;
}

.fa-check {
    color: #0061FF;
}

.fa-ul {
    margin-top: 40px;
    margin-left: 23px;
}

.button-padding {
    padding: 10px 41px;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.border-bottom {
    display: inline-block;
    padding-bottom: 40px;
    border-bottom: 1px solid lightgray;
}

.column-content li {
    padding-bottom: 20PX;
}

h4 {
    margin-bottom: 20px;
    margin-top: 40px;
}

h3 {
    margin-bottom: 20px;
}

.euro-price {
    margin-bottom: -10px;
    font-weight: bold;
    font-size: 13px;
    display: block;
}

.month {
    margin-bottom: -10px;
    font-size: 13px;
    display: block;
}